nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

ul li {
    display: inline-block;
    padding: 0 1em;
}

li {
    list-style: none;
    text-decoration: none;
    color: #333;
}

